.person {
  width: 95%;
  height: 4.7rem;
  margin: 0 auto;
  position: relative;
  color: #4A4A4A;
}
.person span {
  display: block;
  width: 3.5rem;
  position: absolute;
  left: 50%;
  margin-left: -1.75rem;
  top: 15px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  background: #D4D4D4;
  color: #E9E9E9;
}
.person .act-messgae {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -47.5%;
  width: 95%;
  height: 3.5rem;
  background: white;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.person .act-messgae .headimg {
  background: white;
  position: absolute;
  left: 12px;
  top: 12px;
}
.person .act-messgae .headimg img {
  width: 1.6rem;
  -webkit-border-radius:0.8rem;
  -moz-border-radius:0.8rem;
  border-radius:0.8rem;
}

.person .act-messgae .act-con {
  position: absolute;
  left: 2.1rem;
  top: 12px;
}
.person .act-messgae .act-con .per-name {
  font-size: 16px;
  color: #1276A9;
}
.person .act-messgae .act-con .act-tag {
  font-size: 13px;
  color: #4D4D4D;
  font-weight: bold;
}
.person .act-messgae .act-con li {
  list-style: none;
  text-align: left;
  line-height: 18px;
}
.person .act-messgae .act-con li img {
  width: 0.3rem;
  vertical-align: middle;
  padding-right: 5px;
}
.person .act-messgae .act-member {
  width: 95%;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #F5F5F5;
  list-style: none;
}
.person .act-messgae .act-member li {
  float: left;
}
.person .act-messgae .act-member img {
  width: 0.62rem;
  vertical-align: middle;
  margin-left: 10px;
  -webkit-border-radius:0.31rem;
  -moz-border-radius:0.31rem;
  border-radius:0.31rem;
}
.spacing {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.spacing .weui_btn {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background: #32B16C;
}
.spacing .weui_btn img {
  width: 0.54rem;
  vertical-align: middle;
}
.share-box img {
  width: 4.5rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: -0.7rem;
}
a {
  display: block;
}
a .weui_actionsheet_cell {
  height: 1.9rem;
  line-height: 1.9rem;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  width: 33%;
  float: left;
  background: #DCDCDC;
}
a .weui_actionsheet_cell img {
  width: 1.25rem;
  vertical-align: middle;
}
.cancel-btn {
  display: block;
  width: 100%;
}
.cancel-btn .cancel {
  height: 0.5rem;
  line-height: 0.5rem;
  width: 100%;
}
@media (min-width: 500px) {
  #header,
  #body {
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
  }
}

a{color:#000}
a:hover{color:#000}
